//primera prueba de sass
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//imports
@import "../scss/_utilidades/variables";
@import "../scss/_utilidades/mixin";
@import "../scss/_utilidades/extend";
@import "../scss/html/index";
@import "../scss/html/inspirate";
@import "../scss/html/contacto";
@import "../scss/html/e-commerce";

//estilos de header y footer
/*estilos generales de header y footer*/
body{
    background-image: $backdesktop;
    font-family: 'oswald', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .body-index{
        header{
              grid-area: header;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px;
              a{
                img{
                    height: 130px;
                    width: 130px;
                }
              }
             .menu{
                  ul{
                    list-style: none;
                    display: flex;
                    gap: 15px;
                    li{
                      background-color: $color-boton;
                      border-radius: 5px;
                      padding: 6px;
                      box-shadow: 3px 3px 2px rgb(174, 110, 110);
                      color: rgb(179, 42, 88);
                      text-shadow: 1px 1px 1px rgb(175, 160, 160);
                      a{
                        text-decoration: none;
                        color: rgb(179, 42, 88);
                      }
                    }
                    li:hover{
                           transform: scale(0.9);
                           color: white;
                    }
                }
            }
        }
        div{
            h1{
                grid-area: h1;
                color: rgb(179, 42, 88);
                font-size: 2rem;
                font-weight: bold;
                text-align: center;
                text-shadow: 1px 1px 1px grey; 
                margin-top: 6px;
               }
        footer{
            position: relative;
            .pabsolut{
            grid-area: footer;
            position: absolute;
            bottom: 0;
            width: 100%;
            .hfooter{
                font-size: 1rem;
                font-weight: lighter;
                text-align: center;
            }
            .volver{
                background-color: $color-boton;
                border-radius: 7px;
                padding:8px;
                box-shadow: 3px 5px 5px rgb(174,110,110);
                text-align: center;
                text-decoration: none;
                color: rgb(179, 42, 88);
                text-shadow: 1px 1px 1px rgb(178, 166, 166);
                a{
                    text-decoration: none;
                    color: rgb(179, 42, 88);
                }
            }
         }
        }
    } 
}
@media screen and(max-width:720px){
        background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        .body-index{
            header{
                h1{
                    scale: 110%;
                }
                .menu{
                    ul{
                        scale:110%
                    }
                }
            }
        }
}
@media screen and(min-width:721px) and (max-width:1078px){
        background-image: radial-gradient(circle, rgba(63,94,251,0.8169642857142857) 18%, rgba(252,70,107,1) 100%);
        .body-index{
            header{
                h1{
                    scale: 90%;
                }
                .menu{
                    ul{
                        scale:90%
                    }
                }
            }
        }

    }
  }
 