//estilos de botones
$color-boton: #ffb5c8;
$color-boton-hover:#da73c9;

//estilos background
$backdesktop: radial-gradient(circle at center, #ffc7d6 0, #ffdae3, #ffecf1 100%);
$backtablet:radial-gradient(circle at center, #e5b4c1 0, #caabb3, #c7bcbf 100%); 
$backcel:radial-gradient(circle at center, #e5b4d5 0, #caabc4, #c7bcc4 100%);