/*estilos de Contacto*/
body{
    .body-contacto{
        display: grid;
        height: 100vh;
        grid-column: 1fr;
        grid-template-rows: auto 1fr 2fr 1fr auto;
        grid-template-areas:"header"
        "h2"
        "form"
        "consulta"
        "footer";
        header{
            grid-area: header;
        }
        form{
            grid-area: form;
            margin:auto;
            fieldset{
                border: 3px solid pink;
                box-shadow: 2px 2px 3px grey;
                div{
                    .input-consulta{
                        width: 200px;
                        height: 150px;
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
        div{
            a{

                img{
                    height: 50px;
                    width: 50px;
                    display: block;
                    margin: auto;
                    margin-top: 5px;
                }
            }
        }

    }
}
