/*estilos de Inspirate*/
body{
    .body-inspirate{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr auto;
        grid-template-areas: "header"
        "h1"
        "blog-1"
        "blog-2"
        "blog-3"
        "blog-4"
        "footer";
        .mainblog{
            justify-content: center;
            margin: auto;
            .blog-1{
                grid-area: blog-1;
                @extend %estilosblog;

                .fotoblog{
                    @extend %estilosfotolog;
                }
                .h{ 
                    @extend %estiloshblog;
                }
                .p{
                    @extend %estilospblog;
                }
            }
            .blog-2{
                grid-area: blog-2;
                @extend %estilosblog;
                .blogiframe{
                    margin: 4px;
                    border: 4px solid rgb(226, 53, 180) ;
                    padding: 4px;
                    display: block;
                    margin: 10px;
                    border-radius: 7px;
                    float: left;
                }
                .h{
                    @extend %estiloshblog;
                }
                .p{
                    @extend %estilospblog;
                }
            }
            .blog-3{
                grid-area: blog-3;
                @extend %estilosblog;
                .fotoblog{
                    @extend %estilosfotolog;
                }
                .h{
                    @extend %estiloshblog;
                }
                .p{
                    @extend %estilospblog;
                }
            }
            .blog-4{
                grid-area: blog-4;
                @extend %estilosblog;
                .fotoblog{
                    @extend %estilosfotolog;
                }
                .h{
                    @extend %estiloshblog;
                }
                .p{
                    @extend %estilospblog;
                }
            }
        }
    }
}