/*estilos Nosotros*/
body{
   .body-nosotros{
        display: grid;
        height: 100vh;
        grid-column: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "h2"
        "imgfundadora"
        "p"
        "footer";
    }
    div{
        h2{
            grid-area: h2;
            color: rgb(212,102,214);
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            text-shadow: 1px 1px 1px grey; 
            margin-top: 10px;
           }
    .main-nosotros{
        display: flex;
        flex-wrap: wrap;
        .imgFundadora{
            grid-area: imgfundadora;
            height: 400px;
            width: 300px;
            display: block;
            margin: auto;

        }
        p{
            grid-area: p;
            text-align: center;
        }
    }
 }
}